
/*===========================================
gom styles:
===========================================*/
/*basic*/


  @media (min-width: 1200px)
  {
    .container {
      max-width: 1080px; 
    }
  }
  /*=============*/
  
  body{
    background-color: rgb(229, 233, 240);
  }
  
  /*aside ads*/
  .asideads{
    width: 140px;
    height: 600px;
    background-image: url(./img/banner/aside-ad2.jpg);
    position: fixed;
    margin-right: 0px;
  }
  .asideads2{
    right: 89.5%;
    width: 140px;
    height: 600px;
    background-image: url(./img/banner/aside-ad2.jpg);
    position: fixed;
  }
  /*=============*/
  
  
  
  /*header 2 area*/
  .header-style2 .main-menu-area .ne-main-menu nav ul li a{
    font-family: "thesans-plain";
    font-size: 16px;
  }
  .header-style2 .main-menu-area .ne-main-menu nav ul li:first-child a{
    padding: 22px 11px;
    background-color: #f8f8f8;
    color: #e53935;
  }
  .header-style2 .main-menu-area .ne-main-menu nav ul li a {
    padding: 22px 11px;
    color: #404553;
  }
  .ne-main-menu nav ul li a:hover {
    background-color: #f8f8f8;
    color: #e53935 !important;
   }
   .header-style2 .main-menu-area .ne-main-menu nav ul li ul.ne-dropdown-menu  li:first-child a{
    background-color: red !important;
    color: white !important;
   }

   .main-menu-area .ne-main-menu nav ul li{
     text-align: right;
   }
   .p-logoarea{
    text-align: center;
    margin: 0px;
    line-height: 20px;
  }
  .editor-logoarea{
    margin-top: 10px;
  }
  .ceo-editor-logoarea{
    font-size: 14px;
  }
  .p-name{
    font-family: "thesans-bold";
  }
  
  .h-ads{
    height: 80px;
  }
  .left{
    left: 1%;
  }
  /*=============*/
  

  .h-slider-1{
    height: 408.66px;
  }
  .h-slider-2{
    height: 201.92px;
  }
  .h-slider-3{
    height: 206.3px;
  }