.h-w-gov-carosel{
    height: 100px;
    width: 100px;
}
.owl-item{
    height: 100px;
}
/*font-family*/
body, div, p{
    font-family: "thesans-plain";
  }
  h1,h2,h3,h4{
    font-family: "thesans-bold";
  }
  .topic-box-lg{
    font-family: "thesans-bold";
  }
  .slider-title{
    font-family: 'thesans-bold';
  }
  footer .footer-box ul.popular-categories li a{
    font-family: "thesans-plain";
  }
  .main-menu-area .ne-main-menu nav ul li a{
    font-family: "thesans-plain";
  }
  .btn-tab li a {
    font-family: "thesans-plain";
  }


  /*header 1*/
.top-bar-top {
    background-color: maroon;
    box-shadow: 0px 1px 1px black;
    }
    .header-style5{
      position: relative;
    }
    body {
      background-color: maroon;
    }
    .ne-main-menu nav ul li a:hover {
      background-color: maroon;
      color: white !important;
     }
     .p-logoarea{
        text-align: center;
        margin: 0px;
        line-height: 20px;
      }
      .editor-logoarea{
        margin-top: 10px;
      }
      .ceo-editor-logoarea{
        font-size: 14px;
      }
      .p-name{
        font-weight: 900;
      }
      
    /*==========*/