/*gom-styles
=============*/


/*General styles*/
body {
  background-image: linear-gradient(to right,rgb(243, 238, 238),rgb(129, 128, 128),rgb(129, 128, 128),rgb(243, 238, 238));
}
.color-cod-gray:after {/*header of aside cols*/
  background-color: #d20808;
}
.color-cod-gray:before {
  border-top: 8px solid #d20808;
  border-left: 8px solid transparent;
}
.pdtop{
  padding-top: 30px;
}

.box-shadow-0{
  box-shadow: 0px 0px 0px 0px rgba(225, 225, 225, 0.75);
}
.bl-0{
  border-left: 0px;
}
.br-0{
  border-right: 0px;
}
.section-space-default2 {
  padding: 25px 20px 30px 20px;
}
.topic-box-lg {/*large section address*/
  height: 35px;
  padding: 0 20px;
  line-height: 37px;
}

.topic-box {/*عاجل*/
  height: 30px;
  line-height: 30px;
}
.topic-box-sm{/*slider section name*/
  height: 20px;
  padding: 0 10px;
  line-height: 20px;
}

.iso2 a {/*news masr tabs*/
  padding: 7px 20px;
}



/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1280px) { 
  .container {
    max-width: 1010px;
  }
  .asideads{
    right: 0.08%;
  }
  .asideads2{
    right: 88.8%;
  }
 }
@media (min-width: 1360px) { 
  .container {
    max-width: 1088px;
  }
  .asideads{
    right: 0.08%;
  }
  .asideads2{
    right: 89.52%;
  }
 }
@media (min-width: 1366px) { 
  .container {
    max-width: 1095px;
  }
  .asideads{
    right: 0.08%;
  }
  .asideads2{
    right: 89.52%;
  }
  .header-style5 .main-menu-area .ne-main-menu nav ul li a {
    padding: 11px 14px !important;
}
 }
/* Extream large devices (labtop + desktop uses 1366*768 display size )*/
 @media(min-width: 1600px){
  .container {
    max-width: 1140px;
  }
  .asideads{
    right: 6%;
  }
  .asideads2{
    right: 85.1%;
  }
  .header-style5 .main-menu-area .ne-main-menu nav ul li a {
    padding: 11px 18px !important;
}
 }



/*from 0 => specific maximum width*/
@media (max-width: 1360px){
  .header-style5 .main-menu-area .ne-main-menu nav ul li a {
    padding: 11px 11px !important;
}
}
@media (max-width: 1280px){
  .header-style5 .main-menu-area .ne-main-menu nav ul li a {
    padding: 11px 10px !important;
  }
  .header-style5 .main-menu-area .ne-main-menu nav ul  .hwadth  {
    display: none;
  }
}
@media (max-width: 1279px) {
  .asideads, .asideads2 {
    display: none;
  }
  
}
@media (max-width: 1132px){
  .header-style5 .main-menu-area .ne-main-menu nav ul li a {
    padding: 11px 8px !important;
  }
}

@media (max-width: 1085px){/*for 1024 also*/
  .header-style5 .main-menu-area .ne-main-menu nav ul li a {
    padding: 11px 5px !important;
  }
}
@media (max-width: 1013px){
  
  .header-style5 .main-menu-area .ne-main-menu nav ul  .eco  {
    display: none;
  }
}
@media (max-width: 991px) { 
  footer .footer-box{
    display: none;
  }
  .it-container{
    flex-direction: column;
    text-align: center;
  }
 }
@media(max-width: 411px){
  .nowab-logo1{
    height: 25px;
    width: 20px;
    padding-bottom: 7px;
    margin-left: 3px;
  }
}
/*==============*/



/*font-family*/
body, div, p{
  font-family: "thesans-plain";
}
h1,h2,h3,h4{
  font-family: "thesans-bold";
}
.topic-box-lg{
  font-family: "thesans-bold";
}
.slider-title{
  font-family: 'thesans-bold';
}
footer .footer-box ul.popular-categories li a{
  font-family: "thesans-plain";
}
.main-menu-area .ne-main-menu nav ul li a{
  font-family: "thesans-plain";
}
.btn-tab li a {
  font-family: "thesans-plain";
}
/*============================*/


/*sidebar*/
.ne-sidebar .sidebar-box {
  margin-bottom: 3rem;
}
/*========*/



/*google ads standard*/
.med-rectangle{
  width: 300px;
  height: 250px;
}
.leaderboard{
  width: 728px;
  height: 90px;
}
.halfpage{
  width: 300px;
  height: 600px;
}
/*==================*/




/*header 1*/
.top-bar-top2 {
  background-color: #d20808;
  box-shadow: 0px 1px 1px black;
  }
  .header-style5{
    position: relative;
  }
  .ne-main-menu nav ul li a:hover {
    background-color: #d20808;
    color: white !important;
   }
   .logoarea-container{
     padding: 2% 0.5%;
     width: 1300px;
   }
   .p-logoarea{
    text-align: center;
    margin: 0px;
    line-height: 20px;
  }
  .editor-logoarea{
    margin-top: 10px;
  }
  .ceo-font{
    font-size: 14px;
  }
  .logoarea-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .left-3{
    left: 3%;
  }
  .h-topmenu{
    height: 32px;
  }
  ul.news-info-list {
    padding: 4px 0;
  }
  ul.header-social {
    padding: 3px 0;
  }
  .h-menu{
    height: 45px;
  }
  .header-style5 .main-menu-area .ne-main-menu nav ul li a {
    padding: 11px 13px;
  }
  .header-style5 .main-menu-area .ne-main-menu nav ul li:first-child a {
    padding: 11px 15px 10px 14px;
    background-color: #d20808;
    color: white;
    box-shadow: 0px 1px 1px black;
  }
  /*==========*/
  





/*ads*/
.asideads{
  width: 140px;
  height: 600px;
  background-image: url(./img/banner/aside-ad2.jpg);
  position: fixed; 
}
.asideads2{
  width: 140px;
  height: 600px;
  background-image: url(./img/banner/aside-ad2.jpg);
  position: fixed;
}
.w-info{
  width: 282.66px;
}
/*===============*/





/*slider & editor-col*/
.w-editor-col{
  max-width: 290px;
  margin-right: 17px;
}
.addressPad{
  padding-right: 50px;
  padding-bottom: 20px;
}

/*
.swiper-container2 {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  }
  .swiper-slide {
  background-size: cover;
  background-position: center;
  }
  .gallery-top {
  
  width: 100%;
  }
  .gallery-thumbs {
  
  box-sizing: border-box;
  padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
  }
==========*/

 
.swiper-container-gallery {
  width: 100%;
  height: 300px;
 
  left: 50%;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
 
}



/*اخبار مصر*/
.h-masr{
  height: 390px;
}
.h-masr-s{
  height: 110px;
  width: 113px;
}

/*=============*/




/*تعليم*/
.h-ta3leem{
  height: 223px;
}
.h-w-ta3leem-s{
  width: 105px;
  height: 108px;
}
/*=======*/


/*احزاب و نواب*/
.h-a7zab1{
  height: 200px;
}
.h-a7zab2{
  height: 69px;
  width: 94px;
}
.nowab-logo1{
  height: 33px;
  width: 40px;
  padding-bottom: 7px;
  margin-left: 3px;
}

.nowab-logo{
  height: 33px;
  width: 40px;
  padding-bottom: 7px;
  background-color: rgb(104, 101, 101);
  margin-left: 3px;
}
.nowab-logo-s{
  height: 23px;
  width: 25px;
  padding-bottom: 7px;
  background-color: rgb(104, 101, 101);
  margin-left: 3px;
}
.color-azure-radiance:after{
  background-color: rgb(104, 101, 101);
}
.color-azure-radiance:before {
  border-top: 8px solid rgb(104, 101, 101);
}
.pad-nowab{
  padding: 2.5rem 2.5rem 1.5rem
}
/*==================*/



/*فنون وثقافة*/
.h-fnoon{
  height: 176.66px;
}

.color-apple2:after {
  background-color: red;
}

.color-apple2:before {
  border-top: 8px solid red;
  border-left: 8px solid transparent;
}

.bg-fnoon{
  background-image: url(./img/news/fnoon/cinema-bg1.jpg);
  
  width: 100%;
}
.section-space-default3{
  padding: 25px 20px 20px 20px;
}

.bg-secondary-body2{
  background-color: #191919;
}
.more-info-link .moreColor{
  color: #ddd3d3;
}
#dis{
  display: flex;
}

/* swiper-fn styles */
.swiper-container {
  width: 100%;
  height: 330px;
  padding-top: 10px;
  padding-bottom: 40px;
  }
  .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  }
  .swiper-pagination-bullet-active{
      background-color: red;
  }
  .swiper-pagination{
      top: 313px;
  }
/*============*/




/*رياضة */
.h-sport{
  height: 238px;
 
}
.h-sport-s{
  height: 104px;
  width: 144px;
}

.color-azure-radiance2:after {
  background-color: green;
}

.color-azure-radiance2:before {
  border-top: 8px solid green;
  border-left: 8px solid transparent;
}
.isotop-btn a {/*sport tabs*/
  padding: 7px 10px;
}
/*==================*/


/*فتافيت ماما */
.h-mama{
  height: 177.77px;
}
.h-mama-s{
  height: 69px;
  width: 94px;
}
.color-apple3:after {
  background-color: rgb(243, 80, 135);
}

.color-apple3:before {
  border-top: 8px solid rgb(243, 80, 135);
  border-left: 8px solid transparent;
}
/*==================*/



/*تقارير */
.h-report{
  height: 137px;
}
.h-report-p{
  height: 144px;
}
.bg-gray{
  background-color: rgb(211, 206, 206);
}
/*==================*/



/*محافظات */
.h-govern{
  height: 182.78px;
}
.h-govern-s{
  height: 69px;
  width: 94px;
}
/*==================*/


/*اسكان*/
.h-iskan-s{
  height: 134px;
  width: 222px;
}
/*=========*/





/*تكنولوجيا و اوتو */
.color-ecstasy3:after {
  background-color: rgb(32, 29, 29);
}
.color-ecstasy3:before {
  border-top: 8px solid rgb(32, 29, 29);
  border-left: 8px solid transparent;
}
.h-tech{
  height: 177.77px;
}
.h-tech-s{
  height: 69px;
  width: 100px;
}

 
.color-apple:after {
  background-color: rgb(9, 111, 207);
}
.color-apple:before {
  border-top: 8px solid  rgb(9, 111, 207);
  border-left: 8px solid transparent;
}
.bg-tech{
  background-color: #eadede;
}
/*==================*/



/*اخبار الطيران */
.h-air{
  height: 459px;
}
.h-air-s{
  height: 133px;
  width: 145px;
}
.h-govern-s{
  height: 69px;
  width: 94px;
}
/*==================*/




/*فيديو الجمهورية*/
.color-white2 .owl-controls i {
  color: #e30e0e;
}
/*================*/

/*اخترنا لك*/
.color-cod-gray .owl-controls i {
  color: #242e74;
}
.bg-secondary-foru{
  background-color: #dbe8fb;
}
.color-scampi2:after {
  background-color: #242e74;
}
.color-scampi2:before {
  border-top: 8px solid  #242e74;
  border-left: 8px solid transparent;
}
.bg-gray2{
  background-color: #f8ebeb;
}
.section-space-default4 {
  padding: 17px 20px 22px 20px;
}
/*==========*/

/*احدث الاخبار - عمود جانبي*/
.h-latest{
  height: 85px;
}
.w-latest{
  width: 124px;
}

.btn-tab li a {
  font-size: 12px;
  padding: 10PX 12PX;
}
/*================*/

/*مقالات و اراء*/
.h-writers{
    width: 90px;
    height: 90px;
}

/*footer*/
.h-foot{
  height: 73px;
  width: 100px;
}
footer .footer-area-top {
  padding: 30px 0 0px;
  border-bottom: 1px solid #4d4d4d;
}
footer{/*to hide aside ads behind footer*/
  position: relative;
}
footer .footer-area-bottom .footer-logo {
  margin-bottom: 10px;
  display: block;
}
ul.footer-social {
  margin-bottom: 20px;
}
footer .footer-area-bottom {
  padding: 5px 0 0px;
}
.copyright{
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
footer .footer-area-top {
  padding: 30px 0 0px;
  border-bottom: 1px solid #322f2f;
}

ul.footer-social {
  margin-bottom: 10px;
}
/*========*/
 



/*  المقالات*/
.h-article{
  height: 95px;
}
.wh-news{
  width: 124px;
  height: 108px;
}

.whatsapp{
  background-color: rgb(5, 138, 5);
}

/*==========*/   


.h-articles{
  height: 350px;
  width: 640px;
  }
  .color-article{
    color: #d20808;
  }
  /*==========*/   
  
  /*مقالات واراء*/
  .h-authors{
    width: 130px;
    height: 130px;
  }
  
  .btn-tab li a {
    font-size: 14px;
   
}
  
  
  
  
  /*gallery*/
  .h-gallery{
    width: 315px;
    height: 245px;
  }
        
           

       
        
  
 
   
    