/*gom-styles
=============*/

.bg-gray{
  background-color: lightgray;
}
.pdtop{
  padding-top: 50px;
}


/*header 1*/
.top-bar-top {
background-color: maroon;
box-shadow: 0px 1px 1px black;
}
.header-style5{
  position: relative;
}
body {
  background-color: maroon;
}
.ne-main-menu nav ul li a:hover {
  background-color: maroon;
  color: white !important;
 }
/*==========*/





/*slider*/
.nivo-main-image{
  height: 400px !important;
}
.slider-title{
  font-family: 'jzoor';
}
/*==========*/


@media (min-width: 1200px)
{
  .container {
    max-width: 1050px; 
  }
}



.box-shadow-0{
  box-shadow: 0px 0px 0px 0px rgba(225, 225, 225, 0.75);
}

.bl-0{
  border-left: 0px;
}

.br-0{
  border-right: 0px;
}

.ne-main-menu nav ul li a{
  font-family: "jzoor";
}
.main-menu-area{
  font-family: "jzoor"; 
}

.p-logoarea{
  text-align: center;
  margin: 0px;
  line-height: 20px;
}
.editor-logoarea{
  margin-top: 10px;
}
.ceo-editor-logoarea{
  font-size: 14px;
}
.p-name{
  font-weight: 900;
}

/*اخبار مصر*/
.h-newsmasr{
  height: 224.81px;
}
.color-cod-gray:after{
  background-color: maroon;
}
.color-cod-gray:before {
  border-top: 8px solid maroon;
}
/*===================*/


/*احزاب و نواب*/
.h-a7zab1{
  height: 200px;
}
.h-a7zab2{
  height: 69px;
  width: 94px;
}
.nowab-logo1{
  height: 33px;
  width: 40px;
  padding-bottom: 7px;
  margin-left: 3px;
}
.nowab-logo{
  height: 33px;
  width: 40px;
  padding-bottom: 7px;
  background-color: rgb(104, 101, 101);
  margin-left: 3px;
}
.nowab-logo-s{
  height: 23px;
  width: 25px;
  padding-bottom: 7px;
  background-color: rgb(104, 101, 101);
  margin-left: 3px;
}
.color-azure-radiance:after{
  background-color: rgb(104, 101, 101);
}
.color-azure-radiance:before {
  border-top: 8px solid rgb(104, 101, 101);
}
/*==================*/



/*فنون وثقافة*/
.h-fnoon{
  height: 176.66px;
}

.color-apple2:after {
  background-color: red;
}

.color-apple2:before {
  border-top: 8px solid red;
  border-left: 8px solid transparent;
}
/*==================*/




/*رياضة */
.h-sport{
  height: 506px;
  width: 282.66px;
}
.h-sport-s{
  height: 104px;
  width: 144px;
}

.color-azure-radiance2:after {
  background-color: green;
}

.color-azure-radiance2:before {
  border-top: 8px solid green;
  border-left: 8px solid transparent;
}
/*==================*/


/*فتافيت ماما */
.h-mama{
  height: 177.77px;
}
.h-mama-s{
  height: 69px;
  width: 94px;
}
.color-apple3:after {
  background-color: rgb(243, 80, 135);
}

.color-apple3:before {
  border-top: 8px solid rgb(243, 80, 135);
  border-left: 8px solid transparent;
}
/*==================*/

/*تقارير */
.h-report{
  height: 137px;
}
.h-report-p{
  height: 144px;
}
/*==================*/


/*محافظات */
.h-govern{
  height: 182.78px;
}
.h-govern-s{
  height: 69px;
  width: 94px;
}
/*==================*/



/*تكنولوجيا و اوتو */
.color-ecstasy3:after {
  background-color: rgb(32, 29, 29);
}
.color-ecstasy3:before {
  border-top: 8px solid rgb(32, 29, 29);
  border-left: 8px solid transparent;
}
.h-tech{
  height: 177.77px;
}
.h-tech-s{
  height: 69px;
  width: 100px;
}

 
.color-apple:after {
  background-color: rgb(9, 111, 207);
}
.color-apple:before {
  border-top: 8px solid  rgb(9, 111, 207);
  border-left: 8px solid transparent;
}
/*==================*/

/*اخبار الطيران */
.h-air{
  height: 400px;
}
.h-air-s{
  height: 133px;
  width: 145px;
}
.h-govern-s{
  height: 69px;
  width: 94px;
}
/*==================*/

/*ads*/
.asideads{
  width: 149px;
  height: 600px;
  background-image: url(./img/banner/aside-ad2.jpg);
  position: fixed;
}
.asideads2{
  right: 88.9%;
  width: 149px;
  height: 600px;
  background-image: url(./img/banner/aside-ad2.jpg);
  position: fixed;
}

.h-ads-s{
  height: 180px;
}
.w-info{
  width: 282.66px;
}
/*===============*/


/*احدث الاخبار - عمود جانبي*/
.h-latest{
  height: 93px;
}
.w-latest{
  width: 124px;
}

.btn-tab li a {
  font-family: "jzoor";
  font-size: 12px;
  padding: 10PX 12PX;
}
/*================*/

.section-space-default2 {
  padding: 40px 20px;
}

footer .footer-box ul.popular-categories li a{
  font-family: "jzoor";
}
.h-foot{
  height: 73px;
  width: 100px;
}

